@import "./variables";
/* Variables used by water.css */
$background-alt: $blue;
$text-bright: $white;
$links: $accent;
$border: $orange;
$button-hover: $grey;
/* It's also possible to use/customize these
$background: orange;
$text-main: red;
$focus: yellow;
$code: red;
$animation-duration: 0.1s;
$form-placeholder: green;
$form-text: orange;
*/
@import "~water.css/src/dark";

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  padding: 14px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: inherit;
  background: linear-gradient(to right bottom, $blue 7%, darken($blue, 12%) 90%);
}

main {
  padding-top: 20vh;
  padding-bottom: 5vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 0 42px;
  box-sizing: border-box;
  background: linear-gradient(to left top, $blue 7%, darken($blue, 12%) 90%);
}

strong {
  color: lighten($blue, 66%);
}
