.links {
  justify-content: center;
}
.link {
  border: 1px solid $border;
  margin-top: 2em;
  margin-right: 1.5em;
  padding: 1em 2em 1.2em;

  &:last-child {
    margin-right: 0;
  }

  &--icon {
    background-repeat: repeat-x;
    background-size: 30px;
    background-position: 12px 12px;
  }

  &,
  span {
    transition: border 0.2s, color 0.3s;
  }

  span {
    border-bottom: 1px solid currentColor;
  }

  &:hover {
    text-decoration: none;
    border: 1px solid currentColor;

    span {
      color: $border;
    }
  }
  /*
  &.github {
    background-image: url("icons/github.svg");
  }
  &.linkedin {
    background-image: url("icons/linkedin.svg");
  }
  &.codepen {
    background-image: url("icons/code.svg");
  }
  */
}

@media (max-width: 660px) {
  .links {
    justify-content: space-around;
  }
  .link {
    margin-right: 0;
  }
}
