.center {
  text-align: center;
}

.row, .col {
  display: flex;
  &.center {
    justify-content: center;
  }
  &.around {
    justify-content: space-around;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

.col {
  flex-direction: column;
}
