body {
  /* https://coolors.co/cd874b-dabaa0-00314f-efefef-89909c */
  --color-primary: #a1dbff;
  --color-primary-dark: #00314F;
  --color-primary-darker: #000b12;
  --color-secondary: #f8ccb1;
  --color-secondary-light: #ffe9db;
  --color-accent:  red;
  --color-black: #333;
  --color-white: #efefef;
  --color-grey: #89909c;
  --color-lightgrey: lightgrey;
}
